.Header {
  display: flex;
  height: 15vh;
  background-color: whitesmoke;
  align-items: center;
  padding-left: 3rem;
  border-bottom: 1px solid black;


  h1 {
      font-family: monospace;
      font-size: 4rem;
  }
}
